infra/envs/dev/state_machine.asl.json
{
  "Comment": "Document processing state machine with separated OCR and LLM stages.",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${validate_input_lambda_arn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "execution_id.$": "$$.Execution.Name",
          "source_s3_key.$": "$.source_s3_key",
          "source_file_name.$": "$.source_file_name",
          "created_at.$": "$.created_at"
        }
      },
      "ResultPath": "$.validation",
      "Next": "InputValid?"
    },
    "InputValid?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation.Payload.valid",
          "BooleanEquals": true,
          "Next": "ExtractOCR"
        }
      ],
      "Default": "ValidationFailed"
    },
    "ExtractOCR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${extract_ocr_lambda_arn}",
        "Payload": {
          "run_id.$": "$.validation.Payload.run_id",
          "execution_id.$": "$$.Execution.Name",
          "source_s3_key.$": "$.validation.Payload.source_s3_key",
          "source_file_name.$": "$.validation.Payload.source_file_name",
          "created_at.$": "$.validation.Payload.created_at"
        }
      },
      "ResultPath": "$.processing",
      "Next": "OcrSkipped?"
    },
    "OcrSkipped?": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.processing.Payload.processing_status",
              "StringEquals": "skipped"
            },
            {
              "Variable": "$.processing.Payload.processing_status",
              "StringEquals": "failed"
            }
          ],
          "Next": "PublishRunMetrics"
        }
      ],
      "Default": "EnrichWithLLM"
    },
    "EnrichWithLLM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${enrich_llm_lambda_arn}",
        "Payload": {
          "run_id.$": "$.processing.Payload.run_id",
          "execution_id.$": "$$.Execution.Name",
          "source_s3_key.$": "$.processing.Payload.source_s3_key",
          "source_file_name.$": "$.processing.Payload.source_file_name",
          "created_at.$": "$.validation.Payload.created_at",
          "document_id.$": "$.processing.Payload.document_id",
          "bronze_s3_key.$": "$.processing.Payload.bronze_s3_key",
          "candidate.$": "$.processing.Payload.candidate"
        }
      },
      "ResultPath": "$.processing",
      "Next": "PublishRunMetrics"
    },
    "PublishRunMetrics": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${publish_metrics_lambda_arn}",
        "Payload": {
          "run_id.$": "$.processing.Payload.run_id",
          "execution_id.$": "$$.Execution.Name",
          "document_id.$": "$.processing.Payload.document_id",
          "source_s3_key.$": "$.processing.Payload.source_s3_key",
          "status.$": "$.processing.Payload.processing_status",
          "metrics.$": "$.processing.Payload.metrics"
        }
      },
      "ResultPath": "$.metrics",
      "Next": "PipelineCompleted"
    },
    "PipelineCompleted": {
      "Type": "Succeed"
    },
    "ValidationFailed": {
      "Type": "Fail",
      "Cause": "Input validation failed"
    }
  }
}
